script(src='/javascripts/jquery.js', type='application/javascript')
script(src='/javascripts/client.js', type='application/javascript')
a(id='link', href="/client/yuncaipu.apk", style="display:none;;color:black;font-size:48px;margin:0px auto;margin-top:20px;") 云菜谱客户端
br
br
