!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/reset-min.css', media='screen');
    script(src='/javascripts/config.js')
  body!= body
