*{
  padding:0 !important;
  margin:0 !important;
  font-size:10pt;
  font-family:'Verdana', 'Arial', 'Helvetica', sans-serif;
  color:black !important;
  background:transparent;
}

#bill-ctner{
  width:auto !important;
}

span.bill-t{
  display:none;
}

span.desk-id{
  font-size:20pt !important;
}

#bill-summary{
  display:none;
}

.dish-detail{
  width:auto;
}

li.category{
  display:none;
}

span.code{
  display:none;
}

button, span.dt, span.summary{
  display:none;
}

span.bill-type{
  display:block;
  border-bottom:1px solid black;
}

hr{
  display:none;
}

ul,li{
  list-style:none;
  display:block;
}
ul{
  min-height:6cm;
  page-break-after:avoid;
}

li{
  padding:5pt 0;
}
li span.dish-detail{
  font-size:12pt;
}
div.h-desk-id{
  margin-top:3cm !important;
}
div.cls-noprice{
  border-bottom:1px solid black;
}
div.cls-noprice, ul.cls-noprice{
  display:block;
}
span.cls-noprice{
  display:none;
}
