script(src='/javascripts/socket.io.js',type='application/javascript')
script(src='/javascripts/jquery.js', type='application/javascript')
script(src='/javascripts/jquery.PrintArea.js', type='application/javascript')
script(src='/javascripts/board/waiter.js', type='application/javascript')
link(rel='stylesheet', href='/stylesheets/waiter.css', media='screen')
link(rel='stylesheet', href='/stylesheets/waiter.print.css', media='print')

#bill-summary
  p#bill-count
#bill-ctner
